@font-face {
  font-family: BusanBada;
  font-style: normal;
  font-weight: normal;
  src:
    local('BusanBada'),
    url(https://raw.githubusercontent.com/3jin/free-webfonts/master/BusanBada/BusanBada.woff) format('woff'), 
    url(https://raw.githubusercontent.com/3jin/free-webfonts/master/BusanBada/BusanBada.ttf) format('ttf');
}